@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');


/* モバイルファーストで書いてみます */

/* ------------
全体
------------ */

html {
  font-size:62.5%;
  /* box-sizing: border-box; */
}

body {

  font-family: 'Kiwi Maru', serif;
  background: #015379;
  font-size: 1.5rem;
  color: #fff;
}

.container {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* overflow:hidden; */
}

main {
  width: 94%;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  vertical-align:bottom;
}



/* --------
slick
--------*/
.slick-prev, .slick-next {
  z-index: 1;
}

.slick-prev {
  left:5px;
}

.slick-next {
  right: 5px;
}
.slick-prev:before, .slick-next:before {
  color: #fff;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

.slick-arrow {
  display: none;
}


/* --------
シェアボタン
--------*/
/* .sns-btn {
  display:flex;
  justify-content: center;
  padding-bottom: 60px;
  margin-bottom: 0;
  line-height: 0;
}

.sns-btn div {
  margin-right: 20px;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
} */

/* --------
上へボタン
--------*/
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 1;
  z-index: 99;
  
  animation: up_down 4s infinite;
}

#page-top img {
  width: 50px;
  height: 50px;
}

#page-top a {
  /* background: #E83828; */
  text-decoration: none;
  color: #fff;
  width: 40px;
  padding: 10px 8px 14px;
  text-align: center;
  display: block;
  border-radius: 5%;
  opacity: 0.7;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}



/*--------
ハンバーガーボタン
------ */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  z-index: 110;
  background-color: #222;
  border-radius: 3px;
  cursor:pointer;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 23px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  transition: all 300ms 0s ease;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
bottom: 0;
transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
top: 0;
transform: rotate(-45deg);
}

#menu-btn-check {
display: none;
}


/*--------
SNSボタン
------ */

.sns-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  /* margin-bottom: 60px; */
}

.sns-btn div {
  margin-right: 20px;
}

/*--------
in_water
------ */
.in_water {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.in_water img {
  object-fit: cover;
  height: 100%;
}




/*--------
header
------ */

#header h1 {
  position: absolute;
  top:30px;
  left: 30px;
  width: 200px;
}

#header nav ul {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.attention {
  width: 90vw;
  height: 90vh;
  position: absolute;
  display: none;
  top: 5vh;
  left: 5vw;
  z-index: 3;
  background: rgba(100, 100, 100, 0.6);
  color: #fff;
  text-align: center;
}

/*--------
main
------ */

.menu-modal {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 50;
}

.menu-modal ul {
  margin-top: 60px;
  margin-left: 30px;
  font-size: 2.0rem;
  width: 70%;
}

.menu-modal li {
  border-bottom: solid 1px #fff;
  margin-bottom: 10px;
}

.site-title {
  z-index: 40;
}

.mainvisual {
  /* position: absolute; */
  height: 100vh;
  /* width: 100%; */
  margin-bottom: 210px;
}



.mainvisual img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  /* transform: scaleX(1.3); */
}

.mainvisual_fade {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
}

.mainvisual_fade img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* transform: scaleX(1.3); */
}

.main-menu {
  position: absolute;
  top: 10px;
  right: 100px;
  z-index: 200;
  color: #000;
}

.copy {
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 1.5rem;
  color: #1D2088;
}

.down_arrow {
  position: absolute;
  top: 80vh;
  left: 50vw;
  z-index: 100;
  animation: up_down 4s infinite;
  opacity: 0.7
}

.down_arrow img {
  transform: translate(-50%, 0);
}

@keyframes up_down {
  0% {
    transform: translate(0,-25%);
  }
  50% {
    transform: translate(0,25%);
  }

  100% {
    transform: translate(0,-25%);
  }
}

.slide {
  margin-bottom: 60px;
}

.calender {
  display: none;
}

.today_schedule {
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  border: solid 1px #fff;
  border-radius: 3px;
  
}

.buttons_need_reserve {
  /* display: flex; */
  align-items: center;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button{
  margin: 10px;
  padding: 10px;
  border: solid 1px #fff;
  border-radius: 3px;
}

.need_reserve {
  text-align: center;
  padding: 5px;
  border: solid 1px #fff;
  border-radius: 3px;
}

.events {
  margin-bottom: 60px;
}

.events h3 {
  margin-bottom: 15px;
}

.events_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.events_images a {
  width: 49%;
}

.news {
  text-align: center;
  border: solid 1px #fff;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 30px;
}

.news h3 {
  margin-bottom: 10px;
}

.news dd {
  margin-bottom: 15px;
}

.new_fishes {
  margin-bottom: 60px;
}

.new_fishes h3 {
  margin-bottom: 15px;
}

.new_fishes_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new_fishes_images a {
  width: 49%;
  margin-bottom: 10px;
}


/*--------
footer
------ */

#footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding-top: 30px;
  padding-left: 30px;
}

#footer li {
  margin-bottom: 10px;
}

#footer p {
  text-align: center;
}


/*--------
footer
------ */


/*--------
footer
------ */


/*--------
footer
------ */

@media (min-width: 768px) {

  .copy {
    font-size: 2.7rem;
  }



  .buttons_need_reserve {
    display: flex;
    box-sizing: border-box;
  }

  .need_reserve {
    flex: 1;
  }

  .news dl{
    display: flex;
    flex-wrap: wrap;
  }

  .news dt {
    width: 20%;
    text-align: right;
    border-right: solid 1px #fff;
    padding-right: 20px;
  }

  .news dd {
    width: 80%;
    text-align: left;
    padding-left: 30px;
  }

  .new_fishes_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .new_fishes_images a {
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    position: relative;
  }

  .new_fishes_images img {
    object-fit:cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .new_fishes_images h4 {
    z-index: 30;
    display: block;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px
  }

  #page-top {
    position: fixed;
    bottom: 20px;
    right: 90px;
    font-size: 20px;
    line-height: 1;
    z-index: 99;
  }
  
  #page-top img {
    width: 80px;
    height: 80px;
  }

}

@media (min-width: 1025px) {
  
  /* .container {
    overflow: hidden;
  }

  .mainvisual img{
    transform: scale(1.3);
  } */

  .copy {
    top: 300px;
    left: 300px;
    font-size: 4.0rem;
  }

  .mainvisual {
    height: 120vh;
  }

  .mainvisual > img{
    height: 120vh;
  }

  .mainvisual_fade {
    height: 120vh;
  }

  .mainvisual_fade > img{
    height: 120vh;
  }
  
  .in_water img {
    height: 100%;
  }
  
  .main-menu {
    display: block;
  }

  main {
    width: 1020px;
  }

  .news dd{
    text-align: center;
  }

  .slide_calender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    z-index: 30;
  }

  .slide {
    width: 70%;
  }

  .calender {
    display: block;
    width: 27%;
  }

  .calender iframe {
    width: 100%;
    height: 100%;
  }
  
}

