@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');


/* モバイルファーストで書いてみます */

/* ------------
全体
------------ */

html {
  font-size:62.5%;
  /* box-sizing: border-box; */
}

body {

  
  font-family: iroha-27keyaki-stdn, sans-serif;
  background: #015379;
  font-size: 1.5rem;
  color: #fff;
  -webkit-text-size-adjust: 100%;
}

main {
  /* width: 94%; */
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  vertical-align:bottom;
}

.section {
  margin-bottom: 60px;
}

.background {
  z-index: -2;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.background img{
  height: 100%;
  object-fit: cover;
}



.container_all{
  overflow: hidden;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.section h1 {
  text-align: center;
}




/* --------
slick
--------*/
.slick-prev, .slick-next {
  z-index: 1;
}

.slick-prev {
  left:5px;
}

.slick-next {
  right: 5px;
}
.slick-prev:before, .slick-next:before {
  color: #fff;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

.slick-arrow {
  display: none;
}


/* --------
シェアボタン
--------*/
/* .sns-btn {
  display:flex;
  justify-content: center;
  padding-bottom: 60px;
  margin-bottom: 0;
  line-height: 0;
}

.sns-btn div {
  margin-right: 20px;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
} */

/* --------
上へボタン
--------*/
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 1;
  z-index: 99;
  
  animation: up_down 4s infinite;
}

#page-top img {
  width: 50px;
  height: 50px;
}

#page-top a {
  /* background: #E83828; */
  text-decoration: none;
  color: #fff;
  width: 40px;
  padding: 10px 8px 14px;
  text-align: center;
  display: block;
  border-radius: 5%;
  opacity: 0.7;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}



/*--------
ハンバーガーボタン
------ */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  z-index: 110;
  /* background-color: #222; */
  border-radius: 3px;
  cursor:pointer;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 23px;
  /* border-radius: 3px; */
  background-color: #ffffff;
  position: absolute;
  transition: all 300ms 0s ease;
}
.menu-btn span:before {
  bottom: 8px;
  width: 150%;
  right: 0%;
  height: 4px;
}
.menu-btn span:after {
  top: 8px;
  height: 2px;
  width: 70%;
  right: 0%;
}
#menu-btn-check:checked ~ .menu-btn span {
background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
bottom: 0;
transform: rotate(45deg);
width: 85%;
height: 2px;
}
#menu-btn-check:checked ~ .menu-btn span::after {
top: 1px;
transform: rotate(-45deg);
width: 85%;
}

#menu-btn-check {
display: none;
}


/*--------
SNSボタン
------ */

.sns-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  /* margin-bottom: 60px; */
}

.sns-btn div {
  margin-right: 20px;
}

.fb-share-button:hover {
  opacity: 0.7;
}



/*--------
header
------ */

.header h1 {
  position: absolute;
  top:30px;
  left: 30px;
  width: 200px;
}

.header nav ul {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.attention {
  width: 90vw;
  height: 90vh;
  position: absolute;
  display: none;
  top: 5vh;
  left: 5vw;
  z-index: 3;
  background: rgba(100, 100, 100, 0.6);
  color: #fff;
  text-align: center;
}

/*--------
main
------ */

.menu-modal {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 50;
}

.menu-modal ul {
  margin-top: 60px;
  margin-left: 30px;
  font-size: 2.0rem;
  width: 70%;
}

.menu-modal li {
  border-bottom: solid 1px #fff;
  margin-bottom: 10px;
}

.site-title {
  z-index: 40;
}

.mainvisual {
  /* position: absolute; */
  height: 100vh;
  /* width: 100%; */
  margin-bottom: 210px;
}

.hero_container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.whale {
  overflow: hidden;
  width: 100vw;
  height: 100vh;/* position: relative; */
  position: relative;
}

.whale img {
  width: 60%;
  will-change: transform;
  animation: move 18s ease-in-out infinite;
  position: absolute;
  left: -100%;
  top: 0;
  opacity: 0;
}

@keyframes move {
  0% {
    left: -40%;
    top: 0
  }
  50% {
    left: 10%;
    top: 30%;
    transform: scale(3);
    opacity: 1;
  }
  90% {
    left: 100%;
    top: 75%;
    transform: scale(6);
    opacity: 0;
  }
  100% {
    left: 100%;
    top: 75%;
    transform: scale(6);
    opacity: 0;
  }
}



.copy {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4rem;
  color: #fff;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: iroha-22momi-stdn, sans-serif;
}

/* .copy:before {
  content: '';
  position: absolute;
  top: -55%;
  left: 7.5rem;
  width: 30px;
  height: 65%;
  border: solid 2px #fff;
  border-radius: 15px 15px 0 0;
  border-bottom: 0;
  border-right: 0;
}
.copy:after {
  content: '';
  position: absolute;
  top: -55%;
  left: 4.6rem;
  width: 30px;
  height: 65%;
  border: solid 2px #fff;
  border-radius: 15px 15px 0 0;
  border-bottom: 0;
  border-left: 0;
} */



.copy span {
  font-size: 5rem;
}



.down_arrow {
  position: absolute;
  top: 80vh;
  left: 50%;
  z-index: 100;
  animation: up_down 4s infinite;
  opacity: 0.7
}

.down_arrow img {
  transform: translate(-50%, 0);
  height: 100px;
}

@keyframes up_down {
  0% {
    transform: translate(0,-25%);
  }
  50% {
    transform: translate(0,25%);
  }

  100% {
    transform: translate(0,-25%);
  }
}

.slide {
  margin-bottom: 60px;
}

.calendar {
  display: none;
}

.today_schedule {
  /* margin-bottom: 30px; */
  padding: 10px;
  text-align: center;
  border: solid 1px #fff;
  border-radius: 3px;
  margin-bottom: 15px;
}

.buttons_need_reserve {
  /* display: flex; */
  align-items: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons span{
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  /* border: solid 1px #fff; */
  border-radius: 3px;
  /* background: #ffd700; */
  background: #add8e6;
  width: 200px;
  font-size: 3rem;
}

.buttons div:hover {
  opacity: 0.9;
}

.need_reserve {
  text-align: center;
  padding: 5px;
  border: solid 1px #fff;
  border-radius: 3px;
}

.events_container {
  background: #add8e6;
  padding: 2.5%;
  border-radius: 15px;
  width: 80%;
}

.events_container h1 {
  color: #fff;
  background: #ff8811;
  width: 60%;
  margin: -40px auto 30px ;
  padding: 15px;
  border-radius: 40px;
}

.events_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin: 0 -13%;
}

.events_images a {
  /* width: 49%; */
  margin-bottom: 15px;
  position: relative;
  transition: all 0.3s ease;
  box-shadow:1px 2px 1px rgba(0, 0, 0, 0.6);
}

.events_images a:hover {
  transform: translate(-0px, -6px) scale(1.01);
  box-shadow:0px 6px 2px rgba(0, 0, 0, 0.4);
}

.events_images a h2 {
  position: absolute;
  top: 10px;
  left: 10px;
}


.news_container {
  text-align: center;
  border: solid 1px #fff;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 30px;
}

.news_container h1 {
  margin-bottom: 10px;
}

.news_container dd {
  margin-bottom: 15px;
}

.new_fish h1 {
  margin-bottom: 15px;
}

.new_fish {
  background: #add8e6;
  position: relative;
}

.new_fish_container {
  padding: 30px 0;
  /* position: relative */
}

.new_fish::before {
  content: '';
  background: url('../img/wave.svg') repeat-x center;
  background-size: 200px;
  position: absolute;
  width: 100%;
  height: 40px;
  top: -29px;
}
.new_fish::after {
  content: '';
  background: url('../img/wave.svg') repeat-x center;
  background-size: 200px;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -29px;
  transform: rotate(180deg);
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.new_fishes_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new_fishes_images a {
  width: 49%;
  margin-bottom: 10px;
  position: relative;
  transition: all 0.3s ease;
  box-shadow:1px 2px 1px rgba(0, 0, 0, 0.6);
}

.new_fishes_images a:hover {
  transform: translate(-0px, -6px) scale(1.01);
  box-shadow:0px 6px 2px rgba(0, 0, 0, 0.4);
}

.new_fishes_images a h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
}

.access_container h1 {
  margin-bottom: 15px;
}

.access_image {
  background-color: #fff;
  margin-bottom: 30px;
}


/*--------
footer
------ */

.footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;

}

.footer_container {
  padding-top: 30px;
  padding-left: 30px;
}

.footer li {
  margin-bottom: 10px;
}

.footer p {
  text-align: center;
}


/*--------
footer
------ */


/*--------
footer
------ */


/*--------
footer
------ */

@media (min-width: 768px) {

  .copy {
    font-size: 2rem;
  }
  
  .copy span {
    font-size: 6rem;
  }
  
  /* .copy:before {
    content: '';
    position: absolute;
    top: -50%;
    left: 14.5rem;
    width: 6rem;
    height: 60%;
    background-color: #fff;
    border: solid 4px #fff;
    border-radius: 6rem 6rem 0 0;
    border-bottom: 0;
    border-right: 0;
  }
  .copy:after {
    content: '';
    position: absolute;
    top: -50%;
    left: 9rem;
    width: 6rem;
    height: 60%;
    background-color: #fff;
    border: solid 4px #fff;
    border-radius: 6rem 6rem 0 0;
    border-bottom: 0;
    border-left: 0;
  } */
  
  
  
  .copy span {
    font-size: 10rem;
  }
  

  .buttons_need_reserve {
    display: flex;
    box-sizing: border-box;
  }

  .need_reserve {
    flex: 1;
  }

  .events_container h1 {
    margin: -50px auto 30px ;
  }

  .events_images a {
    width: 49%
  }

  .news dl{
    display: flex;
    flex-wrap: wrap;
  }

  .news dt {
    width: 20%;
    text-align: right;
    border-right: solid 1px #fff;
    padding-right: 20px;
  }

  .news dd {
    width: 80%;
    text-align: left;
    padding-left: 30px;
  }

  /* .new_fishes_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  } */

  .new_fishes_images {    
    display: flex;
    flex-wrap: wrap;
  }

  .new_fishes_images a {
    height: 0;
    padding-bottom: 33%;
    width: 33%;
    position: relative;
  }

  .new_fishes_images img {
    object-fit:cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .new_fishes_images a h2 {
    font-size: 2rem;
  }

  #page-top {
    position: fixed;
    bottom: 20px;
    right: 90px;
    font-size: 20px;
    line-height: 1;
    z-index: 99;
  }
  
  #page-top img {
    width: 80px;
    height: 80px;
  }

  .access_container .media_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .access_container .access_image {
    width: 49%;
  }
  .access_container .text {
    width: 49%;
  }

}

@media (min-width: 1025px) {
  
  .container {
    width:1020px;
  }

  .main-menu {
    display: block;
  }
  .news dd{
    text-align: center;
  }

  .slide_calendar_container {
    display: flex;
    /* width: 94%; */
    margin: 0 auto 60px;
    justify-content: space-between;
    z-index: 30;

  }

  .slide {
    width: 70%;
  }

  .calendar {
    display: block;
    width: 28%;
  }

  .calendar iframe {
    width: 100%;
    height: 100%;
  }

  .events_container h1 {
    margin: -4.3vw auto 30px ;
  }


  
}

